# Ignore old files
unused/*

# Ignore temporary results
tmp/*

# Ignore input sequence files
data/sequences/*
!data/sequences/.gitkeep

# Ignore competitive mapping output
data/competitive_mapping_results/*
!data/competitive_mapping_results/.gitkeep

# Ignore reference indexes and individual fastas
data/references/*
# allow reference fasta and medoid tsv
!data/references/medoid.tsv
!data/references/reference_multi.fasta


# macOS
.DS_Store

# Python cache files
__pycache__/
*.py[cod]